<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Custom Css -->
  <link rel="stylesheet" href="../static/scss/adminPanel.css">
  <link rel="stylesheet" href="../static/scss/common.css">
  <!-- Custom Css End-->

</head>

<body>
  <section class="flex justify-center px-4 lg:px-12" id="adminBoxParent">
    <div class="glassMorph rounded-lg self-center flex flex-row justify-start" id="adminBox">
      <!-- left parent box -->
      <div class="glassMorph overflow-auto h-full w-full md:w-80 rounded-l-lg px-4 pt-8 relative" id="leftParentBox">
        <!-- log out button -->
        <button class="absolute glassMorph rounded-full text-2xl text-white/[0.9] font-medium py-2 px-6" id="logoutButton"> logout </button>
        <!-- log out button ends-->
      </div>
      <!-- left parent box end -->
      <!--  -->
      <!-- Right parent -->
      <div class="overflow-y-auto h-full flex flex-wrap w-full md:w-full rounded-r-lg px-4 py-8" id="rightParentBox">
        <!-- profile -->
        <div class="w-full" id="ProfileControllers">
          <div class="controllerBox glassMorph rounded-lg flex flex-col m-1 w-full md:w-1/2 py-4 px-2" id="changeProfilePicBox">
            <img class="glassMorph rounded-full my-4 self-center" id="reviewImage" src="../static/images/profile/profilePic1.png" alt="">
            <input type="file" class="self-center" id="reviewImageInp">
          </div>
        </div>
        <!-- profile stuff -->
      </div>





      

    </div>
  </section>

  <!-- custome js -->
  <!-- <script type="module" src="../static/js/fireBaseConfig.js"></script> -->
  <script type="module" src="../static/js/adminPanel.js"></script>
  <!-- custome js end -->
</body>

</html>