<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Custom Css -->
  <link rel="stylesheet" href="../static/scss/adminPanel.css">
  <link rel="stylesheet" href="../static/scss/common.css">
  <!-- Custom Css End-->

</head>

<body>
  <section class="flex justify-center px-4 lg:px-12" id="adminBoxParent">
    <div class="glassMorph rounded-lg self-center flex flex-row justify-start" id="adminBox">
      <!-- left parent box -->
      <div class="glassMorph overflow-auto h-full w-full md:w-80 rounded-l-lg pt-8 relative" id="leftParentBox">
        <ul id="menu">
          <li class="text-xl text-white/[0.9] font-medium leading-loose px-4" id="menuButtonProfile" data-controller-box-name="profileControllers">Profile</li>
          <li class="text-xl text-white/[0.9] font-medium leading-loose px-4" id="menuButtonToolRecommendation" data-controller-box-name="toolRecommendationControllers">Tool Recommendation</li>
          <li class="text-xl text-white/[0.9] font-medium leading-loose px-4" id="menuButtonBlog" data-controller-box-name="blogControllers">Blog</li>
        </ul>
        <!-- log out button -->
        <button class="absolute glassMorph rounded-full text-2xl text-white/[0.9] font-medium py-2 px-6" id="logoutButton"> logout </button>
        <!-- log out button ends-->
      </div>
      <!-- left parent box end -->
      <!--  -->
      <!-- Right parent -->
      <div class="overflow-y-auto h-full w-full md:w-full rounded-r-lg px-4 py-8" id="rightParentBox">
        <!-- profile -->
        <div class="controllerContainer w-full h-full flex flex-wrap hidden" id="profileControllers">
          <!-- change profile -->
          <div id="changeProfilePicParentBox">
            <h1 class="text-2xl text-white/[0.9] font-medium mb-2">Change Profile Picture</h1>
            <div class="controllerBox glassMorph rounded-lg flex flex-col w-full py-4 px-2" id="changeProfilePicBox">
              <img class="glassMorph rounded-full my-4 self-center" id="reviewImage" src="../static/images/profile/profilePic1.png" alt="">
              <input type="file" class="self-center" id="reviewImageInp">
            </div>
          </div>
          <!-- change profile -->
          <!--  -->
          <!-- change password -->
          <div id="changePasswordParentBox">
            <h1 class="text-2xl text-white/[0.9] font-medium mb-2">Change Password</h1>
            <div class="controllerBox glassMorph rounded-lg flex flex-col m-1 w-full py-8 px-2" id="changePasswordBox">
              <input type="text" class="controllersInputs self-center rounded-full font-medium text-xl px-2" id="renewPasswordInp">
              <button class="controllersButtons glassMorph text-2xl text-white/[0.9] self-center font-medium rounded-full px-5 mt-4" id="changePasswordSubmitBtn">Set</button>
            </div>
          </div>
          <!-- change password end -->
        </div>
        <!-- profile end -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!-- tool recommendation -->
        <div class="controllerContainer w-full h-full flex flex-wrap block" id="toolRecommendationControllers">
          <!-- add tool -->
          <div id="addToolParentBox">
            <h1 class="text-2xl text-white/[0.9] font-medium mb-2">Add tool</h1>
            <div class="controllerBox glassMorph rounded-lg flex flex-col w-full py-4 px-2">
              <!---->
              <label for="addToolNameInp" class="text-xl text-white/[0.9] leading-loose">Tool name</label>
              <input type="text" class="controllersInputs self-center rounded-full font-medium text-xl px-2" id="addToolNameInp">
              <!---->
              <label for="addToolUrlInp" class="text-xl text-white/[0.9] leading-loose">Tool URL</label>
              <input type="text" class="controllersInputs self-center rounded-full font-medium text-xl px-2" id="addToolUrlInp">
              <!---->
              <label for="addToolDescriptionInp" class="text-xl text-white/[0.9] leading-loose">Tool Description</label>
              <textarea type="textarea" class="controllersInputs self-center rounded-[25px] font-medium w-full text-xl px-2" id="addToolDescriptionInp"></textarea>
              <!---->
              <button class="controllersButtons glassMorph text-2xl text-white/[0.9] self-center font-medium rounded-full px-5 mt-4" id="addToolSubmitBtn">Add</button>
            </div>
          </div>
          <!-- add tool -->
        </div>
        <!-- tool recommendation end-->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!-- blog -->
        <div class="controllerContainer w-full h-full flex flex-wrap hidden" id="blogControllers">
          blog
        </div>
        <!-- blog end -->
      </div>
      <!-- Right parent -->
    </div>
  </section>


  <!-- custom js -->
  <!-- <script type="module" src="../static/js/fireBaseConfig.js"></script> -->
  <script type="module" src="../static/js/adminPanel.js"></script>
  <!-- custom js end -->
</body>

</html>