<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Custom Css -->
  <link rel="stylesheet" href="../static/scss/adminPanel.css">
  <link rel="stylesheet" href="../static/scss/common.css">
  <!-- Custom Css End-->

</head>

<body>
  <section class="flex justify-center px-4 lg:px-12" id="adminBoxParent">
    <div class="glassMorph rounded-lg self-center flex flex-col justify-start p-4" id="adminBox">
      
    </div>
  </section>

  <!-- custome js -->
  <!-- <script type="module" src="../static/js/fireBaseConfig.js"></script> -->
  <script type="module" src="../static/js/adminPannle.js"></script>
  <!-- custome js end -->
</body>

</html>