<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Custom Css -->
  <link rel="stylesheet" href="../static/scss/myDevTools.css">
  <link rel="stylesheet" href="../static/scss/common.css">
  <!-- Custom Css End-->

</head>

<body>
  <section class="flex justify-center px-4 lg:px-12" id="allTools">
    <div class="glassMorph rounded-lg self-center flex flex-col md:flex-row justify-start">
      <!-- Left parent -->
      <div class="glassMorph overflow-auto h-full w-full md:w-80 rounded-l-lg px-4 pt-8" id="leftParentBox">
        <div class="rounded-full p-2 flex flex-row justify-start" id="searchBar">
          <img class="object-scale-down mx-2" src="../static/images/icons/search.svg" alt="">
          <input type="text" class="w-full font-semibold" id="searchBarInput">
        </div>
      </div>
      <!-- Left parent end-->
      <!-- Right parent -->
      <div class="overflow-y-auto h-full flex flex-wrap w-full md:w-full rounded-r-lg px-4 py-8" id="rightParentBox">
        <!-- tool card -->
        <div class="toolCard glassMorph rounded-[16px] p-4 relative m-2">
          <!-- rating -->
          <p>
            <span class="ratingText text-2xl text-white/[0.9] mx-1">3</span>
            <span class="ratingText text-2xl mx-1">&#11088</span>
          </p>
          <!-- rating end -->
          <!-- card image -->
          <div class="flex justify-center">
            <img class="cardImage glassMorph rounded-full my-4" src="../static/images/brandImages/keyframes_app.png" alt=""> 
          </div>
          <!-- card image end -->
          <!-- card text -->
          <p class="text-2xl text-white/[0.9] font-medium justify-center my-4">keyframes.app</p>
          <p class="text-xl text-white/[0.9] font-medium text-center justify-center">learning curve: <br>easy</p>
          <!-- card text end -->
          <!-- card visit buttton -->
          <a class="visitButton glassMorph text-2xl text-white/[0.9] rounded-full px-8 py-1 absolute" href="#"> visit </a>
          <!-- card visit buttton end -->
        </div>
        <!-- tool card -->

        <!-- tool card -->
        <div class="toolCard glassMorph rounded-[16px] p-4 relative m-2">
          <!-- rating -->
          <p>
            <span class="ratingText text-2xl text-white/[0.9] mx-1">3</span>
            <span class="ratingText text-2xl mx-1">&#11088</span>
          </p>
          <!-- rating end -->
          <!-- card image -->
          <div class="flex justify-center">
            <img class="cardImage glassMorph rounded-full my-4" src="../static/images/brandImages/keyframes_app.png" alt=""> 
          </div>
          <!-- card image end -->
          <!-- card text -->
          <p class="text-2xl text-white/[0.9] font-medium justify-center my-4">keyframes.app</p>
          <p class="text-xl text-white/[0.9] font-medium text-center justify-center">learning curve: <br>easy</p>
          <!-- card text end -->
          <!-- card visit buttton -->
          <a class="visitButton glassMorph text-2xl text-white/[0.9] rounded-full px-8 py-1 absolute" href="#"> visit </a>
          <!-- card visit buttton end -->
        </div>
        <!-- tool card -->

        <!-- tool card -->
        <div class="toolCard glassMorph rounded-[16px] p-4 relative m-2">
          <!-- rating -->
          <p>
            <span class="ratingText text-2xl text-white/[0.9] mx-1">3</span>
            <span class="ratingText text-2xl mx-1">&#11088</span>
          </p>
          <!-- rating end -->
          <!-- card image -->
          <div class="flex justify-center">
            <img class="cardImage glassMorph rounded-full my-4" src="../static/images/brandImages/keyframes_app.png" alt=""> 
          </div>
          <!-- card image end -->
          <!-- card text -->
          <p class="text-2xl text-white/[0.9] font-medium justify-center my-4">keyframes.app</p>
          <p class="text-xl text-white/[0.9] font-medium text-center justify-center">learning curve: <br>easy</p>
          <!-- card text end -->
          <!-- card visit buttton -->
          <a class="visitButton glassMorph text-2xl text-white/[0.9] rounded-full px-8 py-1 absolute" href="#"> visit </a>
          <!-- card visit buttton end -->
        </div>
        <!-- tool card -->

        <!-- tool card -->
        <div class="toolCard glassMorph rounded-[16px] p-4 relative m-2">
          <!-- rating -->
          <p>
            <span class="ratingText text-2xl text-white/[0.9] mx-1">3</span>
            <span class="ratingText text-2xl mx-1">&#11088</span>
          </p>
          <!-- rating end -->
          <!-- card image -->
          <div class="flex justify-center">
            <img class="cardImage glassMorph rounded-full my-4" src="../static/images/brandImages/keyframes_app.png" alt=""> 
          </div>
          <!-- card image end -->
          <!-- card text -->
          <p class="text-2xl text-white/[0.9] font-medium justify-center my-4">keyframes.app</p>
          <p class="text-xl text-white/[0.9] font-medium text-center justify-center">learning curve: <br>easy</p>
          <!-- card text end -->
          <!-- card visit buttton -->
          <a class="visitButton glassMorph text-2xl text-white/[0.9] rounded-full px-8 py-1 absolute" href="#"> visit </a>
          <!-- card visit buttton end -->
        </div>
        <!-- tool card -->

        <!-- tool card -->
        <div class="toolCard glassMorph rounded-[16px] p-4 relative m-2">
          <!-- rating -->
          <p>
            <span class="ratingText text-2xl text-white/[0.9] mx-1">3</span>
            <span class="ratingText text-2xl mx-1">&#11088</span>
          </p>
          <!-- rating end -->
          <!-- card image -->
          <div class="flex justify-center">
            <img class="cardImage glassMorph rounded-full my-4" src="../static/images/brandImages/keyframes_app.png" alt=""> 
          </div>
          <!-- card image end -->
          <!-- card text -->
          <p class="text-2xl text-white/[0.9] font-medium justify-center my-4">keyframes.app</p>
          <p class="text-xl text-white/[0.9] font-medium text-center justify-center">learning curve: <br>easy</p>
          <!-- card text end -->
          <!-- card visit buttton -->
          <a class="visitButton glassMorph text-2xl text-white/[0.9] rounded-full px-8 py-1 absolute" href="#"> visit </a>
          <!-- card visit buttton end -->
        </div>
        <!-- tool card -->

        <!-- tool card -->
        <div class="toolCard glassMorph rounded-[16px] p-4 relative m-2">
          <!-- rating -->
          <p>
            <span class="ratingText text-2xl text-white/[0.9] mx-1">3</span>
            <span class="ratingText text-2xl mx-1">&#11088</span>
          </p>
          <!-- rating end -->
          <!-- card image -->
          <div class="flex justify-center">
            <img class="cardImage glassMorph rounded-full my-4" src="../static/images/brandImages/keyframes_app.png" alt=""> 
          </div>
          <!-- card image end -->
          <!-- card text -->
          <p class="text-2xl text-white/[0.9] font-medium justify-center my-4">keyframes.app</p>
          <p class="text-xl text-white/[0.9] font-medium text-center justify-center">learning curve: <br>easy</p>
          <!-- card text end -->
          <!-- card visit buttton -->
          <a class="visitButton glassMorph text-2xl text-white/[0.9] rounded-full px-8 py-1 absolute" href="#"> visit </a>
          <!-- card visit buttton end -->
        </div>
        <!-- tool card -->

      </div>
      <!-- Right parent end -->
    </div>
  </section>
</body>

</html>