<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio Details - Folio Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/MainPageAssets/img/favicon.png" rel="icon">
  <link href="../static/MainPageAssets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/MainPageAssets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/MainPageAssets/vendor/hover/hover.min.css" rel="stylesheet">
  <link href="../static/MainPageAssets/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../static/MainPageAssets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/MainPageAssets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../static/MainPageAssets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/MainPageAssets/css/style.css" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	






	<!-- mobile specific metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" >

 	<!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="../static/AboutPageAssets/css/base.css" >  
  <link rel="stylesheet" href="../static/AboutPageAssets/css/main.css" >
  <link rel="stylesheet" href="../static/AboutPageAssets/css/vendor.css" >     

  <!-- script
  ================================================== -->   
	<script src="../static/AboutPageAssets/js/modernizr.js"></script>
	<script src="../static/AboutPageAssets/js/pace.min.js"></script>
	
</head>

<body>

  <!-- ======= Navbar ======= -->
  <nav id="main-nav" class="subpage-nav">
    <div class="row">
      <div class="container">

        <div class="logo">
          <a href="/"><img src="../static/MainPageAssets/img//logo.png" alt="logo"></a>
        </div>

        <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

        <ul class="nav-menu list-unstyled">
          <li><a href="/"> Home </a></li>
          <!-- <li><a href="#about" class="smoothScroll">About</a></li> -->
          <!-- <li><a href="#portfolio" class="smoothScroll">Portfolio</a></li> -->
          <li><a href="#learning"> Learning </a></li>
          <li><a href="/contact"> Contact </a></li>
        </ul>

      </div>
    </div>
  </nav><!-- End Navbar -->

  <main id="main">

  	<section id="about">  

   	<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>About</h5>
   			<h1>Let me introduce myself</h1>

   			<div class="intro-info">

   				<img src="../static/AboutPageAssets/images/profile-pic.jpeg" alt="Profile Picture">

   				<p class="lead"> I am Aman verma, a technology enthusiast and a full-stack developer. I also do some compitive programming. I am keen learner of Ethical hacking and Cyber security.</p>
   			</div>   			

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row about-content">

   		<div class="col-six tab-full">

   			<h3>Profile</h3>
   			<p>The following are my bio data.</p>

   			<ul class="info-list">
   				<li>
   					<strong>Fullname:</strong>
   					<span>Aman verma</span>
   				</li>
   				<li>
   					<strong>Birth Date:</strong>
   					<span>September 16, 1999</span>
   				</li>
   				<li>
   					<strong>Job:</strong>
   					<span>Freelancer <br><br>Back-end Developer <br><br>Front-end Developer <br><br>Android and iOs Developer</span>
   				</li>
   				<li>
   					<strong>Call / Whatsaap:</strong>
   					<span>+91 9993988213</span>
   				</li>
   				<li>
   					<strong>Email:</strong>
   					<span>amanverma03328@gmail.com</span>
   				</li>

   			</ul> <!-- /info-list -->

   		</div>

   		<div class="col-six tab-full">

   			<h3>Skills</h3>
   			<p>I have done several project, on many technologies. Website, WebApplication, Desktop application, ios and Android application are all part of my work.</p>

				<ul class="skill-bars">
					 <li>
				   	<div class="progress percent80"><span>80%</span></div>
				   	<strong>Python</strong>
				   </li>
					 <li>
				   	<div class="progress percent70"><span>70%</span></div>
				   	<strong>C++</strong>
				   </li>
				   <li>
				   	<div class="progress percent50"><span>50%</span></div>
				   	<strong>Dart</strong>
				   </li>
				   <li>
				   	<div class="progress percent60"><span>60%</span></div>
				   	<strong>Php</strong>
				   </li>

				   <br>
					 
				   <li>
				   	<div class="progress percent85"><span>85%</span></div>
				   	<strong>HTML5</strong>
				   </li>
				   <li>
				   	<div class="progress percent85"><span>85%</span></div>
				   	<strong>CSS3</strong>
				   </li>
				   <li>
				   	<div class="progress percent60"><span>70%</span></div>
				   	<strong>Vanila JavaScript</strong>
				   </li>
				   <li>
				   	<div class="progress percent70"><span>60%</span></div>
				   	<strong>JQuery</strong>
				   </li>
				   <li>
				   	<div class="progress percent80"><span>80%</span></div>
				   	<strong>BootStrap</strong>
				   </li>

				   <br>

				    <li>
					   	<div class="progress percent85"><span>85%</span></div>
					   	<strong>Flutter</strong>
				   	</li>
				   	<li>
					   	<div class="progress percent60"><span>60%</span></div>
					   	<strong>Django</strong>
				   	</li>
				   	<li>
					   	<div class="progress percent80"><span>80%</span></div>
					   	<strong>Flask</strong>
				   	</li>
				   

				</ul> <!-- /skill-bars -->		

   		</div>

   	</div>

   	<div class="row button-section">
   		<div class="col-twelve">
   			<a href="#contact" title="Hire Me" class="button stroke smoothscroll">Hire Me</a>
   			<a href="#" title="Download CV" class="button button-primary">Download CV</a>
   		</div>   		
   	</div>

   </section> <!-- /process-->  

   <!-- Acadmics Section
   ================================================== -->
	<section id="acadmics" class="grey-section">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5 class = "my-5" > Acadmics </h5>
   			<h1> Glance at my Acadmics </h1>

   			<p class="lead">I am a Computer Science student so far. I am also a self-taught beginner level UX/UI designer.</p>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row acadmics-timeline">

   		<!-- <div class="col-twelve acadmics-header">

   			<h2>Work Experience</h2>

   		</div>  --><!-- /acadmics-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3> High School </h3>
	   					<p> 2015 </p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4> Holy Cross School </h4>
	   					<p> located at khandwa road, indore, M.P </p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3> High Secondary School </h3>
	   					<p> 2015 - 2017</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4> Holy Cross School </h4>
	   					<p> located at khandwa road, indore, M.P </p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3> BCA (Bachelor of Computer Application) </h3>
	   					<p> 2017-2021 </p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4> International Institute of Professional Studies, DAVV </h4>
	   					<p> located at near Bhanwar kuwa square, indore, M.P </p>
	   				</div>

	   			</div> <!-- /timeline-block -->

   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /acadmics-timeline -->
    

  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <div id="footer" class="text-center">
    <div class="container">
      <div class="socials-media text-center">

        <ul class="list-unstyled">
          <li><a href="{{ ContactAndSocialMedia['FACEBOOK_PROFILE'] }}" ><i class="ion-social-facebook"></i></a></li>
          <li><a href="{{ ContactAndSocialMedia['TWITTER_PROFILE'] }}"><i class="ion-social-twitter"></i></a></li>
          <li><a href="{{ ContactAndSocialMedia['INSTAGRAM_PROFILE'] }}"><i class="ion-social-instagram"></i></a></li>
          <!-- 
          <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
          <li><a href="#"><i class="ion-social-tumblr"></i></a></li>
          <li><a href="#"><i class="ion-social-dribbble"></i></a></li> 
          -->
        </ul>

      </div>

      <p>&copy; Copyrights Folio. All rights reserved.</p>

      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
      -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>

    </div>
  </div><!-- End Footer -->

  <!-- Vendor JS Files -->
  <script src="../static/MainPageAssets/vendor/jquery/jquery.min.js"></script>
  <script src="../static/MainPageAssets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/MainPageAssets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../static/MainPageAssets/vendor/php-email-form/validate.js"></script>
  <script src="../static/MainPageAssets/vendor/typed/typed.js"></script>
  <script src="../static/MainPageAssets/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="../static/MainPageAssets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/MainPageAssets/vendor/venobox/venobox.min.js"></script>
  <script src="../static/MainPageAssets/vendor/owl.carousel/owl.carousel.min.js"></script>

  <!-- Java Script
	================================================== --> 
	<!-- <script src="../static/AboutPageAssets/js/jquery-2.1.3.min.js"></script> -->
	<script src="../static/AboutPageAssets/js/plugins.js"></script>
	<script src="../static/AboutPageAssets/js/main.js"></script>

</body>

</html>