<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Aman Verma</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/MainPageAssets/img/favicon.png" rel="icon">
  <link href="../static/MainPageAssets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/MainPageAssets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/MainPageAssets/vendor/hover/hover.min.css" rel="stylesheet">
  <link href="../static/MainPageAssets/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../static/MainPageAssets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/MainPageAssets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../static/MainPageAssets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/MainPageAssets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Navbar ======= -->
  <nav id="main-nav">
    <div class="row">
      <div class="container">

        <div class="logo">
          <a href="/"><img src="../static/MainPageAssets/img//logo.png" alt="logo"></a>
        </div>

        <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

        <ul class="nav-menu list-unstyled">
          <li><a href="/about"> About </a></li>
          <li><a href="#portfolio" class="smoothScroll">Portfolio</a></li>
          <li><a href="#journal" class="smoothScroll">Blog</a></li>
          <li><a href="#"> Learning </a></li>
          <li><a href="/contact"> Contact </a></li>
        </ul>

      </div>
    </div>
  </nav>
  <!-- End Navbar -->

  <!-- ======= Hero Section ======= -->
  <div id="hero" class="home">

    <div class="container">
      <div class="hero-content">
        <h1>I'm <span class="typed"></span></h1>
        <p class="typed-items" data-typed-person="Aman Verma" style="visibility: hidden;"> Full-stack Developer, Freelancer, Content Creater</p>

        <ul class="list-unstyled list-social">
          <li><a href="{{ ContactAndSocialMedia['FACEBOOK_PROFILE'] }}" ><i class="ion-social-facebook"></i></a></li>
          <li><a href="{{ ContactAndSocialMedia['TWITTER_PROFILE'] }}"><i class="ion-social-twitter"></i></a></li>
          <li><a href="{{ ContactAndSocialMedia['INSTAGRAM_PROFILE'] }}"><i class="ion-social-instagram"></i></a></li>
          <!-- 
          <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
          <li><a href="#"><i class="ion-social-tumblr"></i></a></li>
          <li><a href="#"><i class="ion-social-dribbble"></i></a></li> 
          -->
        </ul>
      </div>
    </div>
  </div>
  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <div id="about" class="paddsection">
      <div class="container">
        <div class="row justify-content-between">

          <div class="col-lg-4 ">
            <div class="div-img-bg">
              <div class="about-img">
                <img src="../static/MainPageAssets/img/me.jpg" class="img-responsive" alt="me">
              </div>
            </div>
          </div>

          <div class="col-lg-7">
            <div class="about-descr">

              <p class="p-heading"> Let me help and consult you, with your Digital and Online needs in this era of internet blunder.</p>
              <p class="separator"> im a Full-stack developer, who loves to creat digital solution and digital identity for businesses, firms and individual. You can always reach me for free consltation related to the any digitalization your business or creating solution of any of need.</p>

            </div>

            <a href="/about"> <button class="btn btn-primary my-5" style="font-size: 15px;"> <b> More about me </b> </button> </a>

          </div>
        </div>
      </div>
    </div>
    <!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <div id="services">
      <div class="container">

        <div class="services-carousel owl-theme">

          <div class="services-block">

            <i class="ion-ios-browsers-outline"></i>
            <span>UI/UX DESIGN</span>
            <p class="separator"> Modern, Minimalist but Beautiful App and Web Design </p>

          </div>

          <div class="services-block">

            <i class="ion-ios-lightbulb-outline"></i>
            <span>BRAND IDENTITY</span>
            <p class="separator"> Logo and Banner Designing</p>

          </div>

          <div class="services-block">

            <i class="ion-ios-color-wand-outline"></i>
            <span>WEB DESIGN</span>
            <p class="separator"> Website and Web-Application Development </p>

          </div>

          <div class="services-block">

            <i class="ion-social-android-outline"></i>
            <span>MOBILE APPS</span>
            <p class="separator"> Android and iOs Development </p>

          </div>

        </div>

      </div>

    </div>
    <!-- End Services Section -->

    
    <!-- ======= Portfolio Section ======= -->
    <div id="portfolio" class="paddsection">

      <div class="container">
        <div class="section-title text-center">
          <h2>My Work and Portfolio</h2>
        </div>
      </div>

      <div class="container">

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-Website">Website</li>
              <li data-filter=".filter-MobileApp">Mobile App</li>
              <li data-filter=".filter-DesktopApp">Desktop App</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <a href="/projectShow/1">
            <div class="col-lg-4 col-md-6 portfolio-item filter-Website">
              <img src=' {{ ProjectShow["1"]["image1"] }} ' class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4> {{ ProjectShow["1"]["projectname"] }} </h4>
                <a href='{{ ProjectShow["1"]["projectURL"] }}'> <p>Website</p> </a>
                <a href="/projectShow/1" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </a>

          <a href="/projectShow/2">
            <div class="col-lg-4 col-md-6 portfolio-item filter-Website">
              <img src=' {{ ProjectShow["2"]["image1"] }} ' class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4> {{ ProjectShow["2"]["projectname"] }} </h4>
                <a href='{{ ProjectShow["2"]["projectURL"] }}'> <p>Website</p> </a>
                <a href="/projectShow/2" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </a>
         
          <!--

          <a href="/projectShow/1">
            <div class="col-lg-4 col-md-6 portfolio-item filter-MobileApp">
              <img src="../static/MainPageAssets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Mobile App 1</h4>
                <a href='{{ ProjectShow["2"]["projectURL"] }}'> <p>Mobile App</p> </a>
                <a href="/projectShow/1" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </a>

          <a href="/projectShow/1">
            <div class="col-lg-4 col-md-6 portfolio-item filter-DesktopApp">
              <img src="../static/MainPageAssets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Desktop App 2</h4>
                <a href='{{ ProjectShow["2"]["projectURL"] }}'> <p>Desktop App</p> </a>
                <a href="/projectShow/1" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </a>

          -->

        </div>  

      </div>

    </div><!-- End Portfolio Section -->

    <!-- ======= Journal Section ======= -->
    <div id="journal" class="text-left paddsection">

      <div class="container">
        <div class="section-title text-center">
          <h2>journal</h2>
        </div>
      </div>

      <div class="container">
        <div class="journal-block">
          <div class="row">

            <div class="col-lg-4 col-md-6">
              <div class="journal-info">

                <a href="blog-single.html"><img src="../static/MainPageAssets/img/blog-post-1.jpg" class="img-responsive" alt="img"></a>

                <div class="journal-txt">

                  <h4><a href="blog-single.html">SO LETS MAKE THE MOST IS BEAUTIFUL</a></h4>
                  <p class="separator">To an English person, it will seem like simplified English
                  </p>

                </div>

              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="journal-info">

                <a href="blog-single.html"><img src="../static/MainPageAssets/img/blog-post-2.jpg" class="img-responsive" alt="img"></a>

                <div class="journal-txt">

                  <h4><a href="blog-single.html">WE'RE GONA MAKE DREAMS COMES</a></h4>
                  <p class="separator">To an English person, it will seem like simplified English
                  </p>

                </div>

              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="journal-info">

                <a href="blog-single.html"><img src="../static/MainPageAssets/img/blog-post-3.jpg" class="img-responsive" alt="img"></a>

                <div class="journal-txt">

                  <h4><a href="blog-single.html">NEW LIFE CIVILIZATIONS TO BOLDLY</a></h4>
                  <p class="separator">To an English person, it will seem like simplified English
                  </p>

                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

    </div><!-- End Journal Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <div id="footer" class="text-center">
    <div class="container">
      <div class="socials-media text-center">

        <ul class="list-unstyled">
          <li><a href="{{ ContactAndSocialMedia['FACEBOOK_PROFILE'] }}"><i class="ion-social-facebook"></i></a></li>
          <li><a href="{{ ContactAndSocialMedia['TWITTER_PROFILE'] }}"><i class="ion-social-twitter"></i></a></li>
          <li><a href="{{ ContactAndSocialMedia['INSTAGRAM_PROFILE'] }}"><i class="ion-social-instagram"></i></a></li>
          <!--          
          <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
          <li><a href="#"><i class="ion-social-tumblr"></i></a></li>
          <li><a href="#"><i class="ion-social-dribbble"></i></a></li>
          -->
        </ul>

      </div>

      <p>&copy; Copyrights Folio. All rights reserved.</p>

      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>

    </div>
  </div><!-- End Footer -->

  <!-- Vendor JS Files -->
  <script src="../static/MainPageAssets/vendor/jquery/jquery.min.js"></script>
  <script src="../static/MainPageAssets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/MainPageAssets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../static/MainPageAssets/vendor/php-email-form/validate.js"></script>
  <script src="../static/MainPageAssets/vendor/typed/typed.js"></script>
  <script src="../static/MainPageAssets/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="../static/MainPageAssets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/MainPageAssets/vendor/venobox/venobox.min.js"></script>
  <script src="../static/MainPageAssets/vendor/owl.carousel/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/MainPageAssets/js/main.js"></script>

</body>

</html>