body{
    background-image: url(../images/background/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: content-box;
}

.glassMorph{
    height: 90vh;
    width: 100%;
    // background-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.3);
    border: 3px solid transparent;
    backdrop-filter: blur(50px);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
	background-clip: padding-box;
}

#adminBoxParent{
    height: 100vh;
}

#adminBox{
    height: auto;
    min-width: auto;
    max-width: 400px;

    .iconInput{
        background-color: rgba(0, 0, 0, 0.4);
        height: 40px;

        img{
            height: 100%;
        }
    }
    
    .inputBars{
        background-color: transparent;
        color: rgba(255, 255, 255, 0.8);
    }
    

    input{
        &:focus{
            outline: none;
        }
    }

    #loginButton{
        height: 40px;
        max-width: 200px;
        transition: 0.15s ease-in-out;
    
        &:hover{
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}